<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h1> Barrio </h1>
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="#/neighborhoods"> <h3>Volver</h3> </a>
      </div>
    </div>
    <div class="row">
      <div class="contact_form col-sm-8 col-md-8">
        <form data-ng-submit="add(neighborhood)" required>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                  <label> CÓDIGO PAÍS</label>
                  <input ng-model="neighborhood.country_code" class="form-control" required>
                </div>
                <div class="col-sm-6 col-md-6">
                  <label> CÓDIGO DEPARTAMENTO</label>
                  <input ng-model="neighborhood.department_code" class="form-control"  required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                  <label> CÓDIGO MUNICIPIO </label>
                  <input ng-model="neighborhood.municipality_code" class="form-control"  required>
                </div>
              <div class="col-sm-6 col-md-6">
                <label> CÓDIGO </label>
                <input ng-model="neighborhood.code" class="form-control"  required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> NOMBRE </label>
                <input ng-model="neighborhood.name" class="form-control"  required>
              </div>
              <div class="col-sm-6 col-md-6">
                <label> ZONA </label>
                <select ng-model="neighborhood.zone" class="form-control"  required> 
                  <option> URBANA </option>
                  <option> RURAL </option>
                </select> 
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <input class="btn btn-primary" type="submit" value="Enviar"> 
              </div>
            </div>
        </form>
      </div>
  </div>
</section>