<section>
  <div class="container">
    <div class="row">
      <div class="contact_form col-sm-8 col-md-8">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <h1> Países </h1>
          </div>
          <div class="col-sm-6 col-md-6">
              <a ng-href="#/countries/new"> <h3> Agregar País </h3></a>
          </div>
        </div>
      </div>
    </div>

    <table ng-table="table" class="table table-striped">
        <tr ng-repeat="country in countries">
            <td data-title="' CÓDIGO'"> {{country.code}} </td>
            <td data-title="' NOMBRE'"> {{country.name}} </td>
        </tr>
    </table>
  </div>
</section>