<section>
	<div class="container">
    <div class="jumbotron">
      <h1> Formularios </h1>
  		<ul>
  			<li> <a ng-href="#/contacts"> <h4> Contacto </h4> </a> </li>
  			<li> <a ng-href="#/companies"> <h4> Compañía </h4> </a> </li>
    		<li> <a ng-href="#/contracts"> <h4> Contratos </h4> </a> </li>
    		<li> <a ng-href="#/patients"> <h4> Pacientes </h4> </a> </li>
    		<li> <a ng-href="#/pabillions"> <h4> Pabellones </h4> </a> </li>
    		<li> <a ng-href="#/atention_areas"> <h4> Areas  de Atención </h4> </a> </li>
            <li> <a ng-href="#/specialties"> <h4> Especialidades </h4> </a> </li>
            <li> <a ng-href="#/countries"> <h4> Países </h4> </a> </li>
            <li> <a ng-href="#/departments"> <h4> Departamentos </h4> </a> </li>
            <li> <a ng-href="#/municipalities"> <h4> Municipios </h4> </a> </li>
            <li> <a ng-href="#/neighborhoods"> <h4> Barrios </h4> </a> </li>
            <li> <a ng-href="#/medics"> <h4> Médicos </h4> </a> </li>
            <li> <a ng-href="#/agendas"> <h4> Agendas </h4> </a> </li>
            <li> <a ng-href="#/agenda_programs"> <h4> Programación de Agenda </h4> </a> </li>
            <li> <a ng-href="#/anatofarmacologics"> <h4> Anatofarmacológicos </h4> </a> </li>
            <li> <a ng-href="#/active_principles"> <h4> Principio Activo</h4> </a> </li>
            <li> <a ng-href="#/aplication_vias"> <h4> Vías de Aplicación </h4> </a> </li>
            <li> <a ng-href="#/farmaceutic_forms"> <h4> Fórmula Farmacéuticas </h4> </a> </li>
            <li> <a ng-href="#/concentrations"> <h4> Concentraciones </h4> </a> </li>
            <li> <a ng-href="#/unity_types"> <h4> Tipos de Unidad </h4> </a> </li>
            <li> <a ng-href="#/unity_measures"> <h4> Unidades de Medida</h4> </a> </li>
            <li> <a ng-href="#/supplies"> <h4> Suministros </h4> </a> </li>
            <li> <a ng-href="#/group_products"> <h4> Grupo Productos </h4> </a> </li>
            <li> <a ng-href="#/sub_group_products"> <h4> Sub Grupo Productos </h4> </a> </li>
            <li> <a ng-href="#/brands"> <h4> Marcas </h4> </a> </li>
            <li> <a ng-href="#/storages"> <h4> Almacenaje </h4> </a> </li>
            <li> <a ng-href="#/products"> <h4> Productos </h4> </a> </li>
            <li> <a ng-href="#/rip_groups"> <h4> Grupo RIPS </h4> </a> </li>
            <li> <a ng-href="#/procedural_types"> <h4> Tipo Procedimientos </h4> </a> </li>
            <li> <a ng-href="#/procedural_finalities"> <h4> Finalidad Procedimientos </h4> </a> </li>
            <li> <a ng-href="#/procedures"> <h4> Procedimientos </h4> </a> </li>
  		</ul>
    </div>
	</div>
</section>