
<section>
	<div class="container">
    <div class="jumbotron">
      <h1> Formularios </h1>
  		<ul>
  			<li> <a ng-href="#/contacts"> <h4> Contacto </h4> </a> </li>
  			<li> <a ng-href="#/companies"> <h4> Compañía </h4> </a> </li>
    		<li> <a ng-href="#/contracts"> <h4> Contratos </h4> </a> </li>
    		<li> <a ng-href="#/patients"> <h4> Pacientes </h4> </a> </li>
    		<li> <a ng-href="#/pabillions"> <h4> Pabellones </h4> </a> </li>
    		<li> <a ng-href="#/atention_areas"> <h4> Areas  de Atención </h4> </a> </li>
        <li> <a ng-href="#/specialties"> <h4> Especialidades </h4> </a> </li>
        <li> <a ng-href="#/countries"> <h4> Países </h4> </a> </li>
        <li> <a ng-href="#/departments"> <h4> Departamentos </h4> </a> </li>
        <li> <a ng-href="#/municipalities"> <h4> Municipios </h4> </a> </li>
        <li> <a ng-href="#/neighborhoods"> <h4> Barrios </h4> </a> </li>
        <li> <a ng-href="#/medics"> <h4> Médicos </h4> </a> </li>
        <li> <a ng-href="#/agendas"> <h4> Agendas </h4> </a> </li>
        <li> <a ng-href="#/agenda_programs"> <h4> Programación de Agenda </h4> </a> </li>
        <li> <a ng-href="#/anatofarmacologics"> <h4> Anatofarmacológicos </h4> </a> </li>
        <li> <a ng-href="#/active_principles"> <h4> Principio Activo</h4> </a> </li>
        <li> <a ng-href="#/aplication_vias"> <h4> Vías de Aplicación </h4> </a> </li>
        <li> <a ng-href="#/farmaceutic_forms"> <h4> Fórmula Farmacéuticas </h4> </a> </li>
        <li> <a ng-href="#/concentrations"> <h4> Concentraciones </h4> </a> </li>
  		</ul>
    </div>
	</div>
</section>