<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h1> Procedimiento </h1>
        </div>
        <div class="col-sm-6 col-md-6">
          <a href="#/procedures"> <h3>Volver</h3> </a>
        </div>
      </div>

      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <form data-ng-submit="add(procedure)" novalidate>


            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> CÓDIGO </label>
                <input required ng-model="procedure.code" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label> DESCRIPCIÓN </label>
                <input required ng-model="procedure.description" class="form-control" type="text">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> TIPO PROCEDIMIENTO </label>
                <input required ng-model="procedure.procedural_type" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label> FINALIDAD SERVICIO </label>
                <input required ng-model="procedure.service_end" class="form-control" type="text">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> TIEMPO PROCEDIMIENTO </label>
                <input required ng-model="procedure.procedural_time" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label> SEXO </label>
                <select required ng-model="procedure.sex" class="form-control" type="text">
                  <option> MASCULINO </option>
                  <option> FEMENINO </option>
                  <option> OTRO </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> EDAD INICIAL </label>
                <input required ng-model="procedure.begin_day" readonly type="text" class="form-control form_datetime">
              </div>
              <div class="col-sm-6 col-md-6">
                <label> EDAD FINAL </label>
                <input required ng-model="procedure.end_day" readonly type="text" class="form-control form_datetime">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>REQUIERE DX </label>
                <input required ng-model="procedure.require_dx" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label> CONSENTIMIENTO DE INFORMADO  </label>
                <input required ng-model="procedure.inform_consentment" class="form-control" type="text">
              </div>
            </div>
 
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>NIVEL ATENCIÓN </label>
                <select required ng-model="procedure.atention_level" class="form-control" type="text">
                  <option>I</option>
                  <option>II</option>
                  <option>III</option>
                  <option>IV</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label> ESTADO </label>
                <input required ng-model="procedure.state" class="form-control" type="text">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-12"><br/>
                <input class="btn btn-primary" type="submit" value="Enviar"> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>