<section>
    <div class="container">
    <h1>Compañia</h1>
      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <form name="contactForm" data-ng-submit="add(company)" novalidate>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Codigo de Empresa </label>
                <input name="email" required ng-model="company.company_code" class="form-control" type="text" value="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>NIT </label>
                <input name="subject" required ng-model="company.nit" class="form-control" type="number">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>Digito de Verificación </label>
                <input name="phone" required ng-model="company.verification_digit" class="form-control" type="number">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Razón Social</label>
                <input name="subject" required ng-model="company.social_reason" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>Página Web</label>
                <input name="phone" required ng-model="company.web_page" class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Tipo Contribuyente</label>
                <input name="subject" required ng-model="company.contributor_type" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>SEDE</label>
                <input name="phone" required ng-model="company.headquarters" class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Dirección</label>
                <input name="subject" required ng-model="company.address" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>Teléfono</label>
                <input name="phone" required ng-model="company.phone" class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Celular </label>
                <input name="phone" required ng-model="company.cellphone" class="form-control" type="text">
              </div>
              <div class="col-sm-12 col-md-12"><br/>
                <input class="btn btn-primary" type="submit" value="Enviar"> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
