<section>
  <div class="container">
      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <h1>Pabellones</h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <a ng-href="#/pabillions/new"> <h3> Nuevo Pabellon </h3></a>
            </div>
          </div>
        </div>
      </div>

      <table>
          <tr>
              <th> CODIGO EMPRESA </th>
              <th> CODIGO PABELLON </th>
              <th> NOMBRE PABELLON </th>
              <th> ESTADO </th>
          </tr>
          <tr ng-repeat="pabillion in pabillions">
              <td>{{pabillion.company_code}} </td>
              <td>{{pabillion.code}} </td>
              <td>{{pabillion.name}} </td>
              <td>{{pabillion.state}} </td>
          </tr>
      </table>

    </div>
  </section>



