<section>
  <div class="container">
      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <h1>Areas de Atención </h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <a ng-href="#/atention_areas/new"> <h3> Nueva Area de Atención </h3></a>
            </div>
          </div>
        </div>
      </div>

      <table>
          <tr>
              <th> CODIGO EMPRESA</th>
              <th> CODIGO PABELLON</th>
              <th> CODIGO AREA</th>
              <th> NOMBRE AREA</th>
              <th> TIPO </th>
              <th> HORA INICIO</th>
              <th> HORA FINAL</th>
              <th> ESTADO</th>

          </tr>
          <tr ng-repeat="atention_area in atention_areas">
              <td> {{atention_area.company_code}} </td>
              <td> {{atention_area.pabillion_code}} </td>
              <td> {{atention_area.area_code}} </td>
              <td> {{atention_area.area_name}} </td>
              <td> {{atention_area.type}} </td>
              <td> {{atention_area.start_hour}} </td>
              <td> {{atention_area.end_hour}} </td>
              <td> {{atention_area.state}} </td>
          </tr>
      </table>

    </div>
  </section>



