<section>
  <div class="container">
      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <h1>Areas de Atención </h1>
            </div>
            <div class="col-sm-6 col-md-6">
                <a ng-href="#/atention_areas/new"> <h3> Nueva Area de Atención </h3></a>
            </div>
          </div>
        </div>
      </div>


      <table ng-table="table" class="table table-striped">
        <tr ng-repeat="atention_area in atention_areas">
          <td data-title="'NOMBRE AREA'">{{atention_area.area_name}}</td>
          <td data-title="'TIPO'">{{atention_area.type}}</td>
          <td data-title="'FECHA INICO'"> {{atention_area.start_hour}} </td>    
          <td data-title="'FECHA FINALIZACIÓN'"> {{atention_area.end_hour}} </td>        
          <td data-title="'ESTADO'"> {{atention_area.state}} </td> 
        </tr>
      </table>

    </div>
  </section>



