<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h1> Areas de Atención </h1>
        </div>
        <div class="col-sm-6 col-md-6">
          <a href="#/atention_areas"> <h3>Volver</h3> </a>
        </div>
      </div>
      <div class="row">
        <div class="contact_form col-sm-8 col-md-8">
          <form data-ng-submit="add(atention_area)" novalidate>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>CODIGO EMPRESA </label>
                <input required ng-model="atention_area.company_code" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>CODIGO PABELLON </label>
                <input required ng-model="atention_area.pabillion_code" class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>CODIGO AREA</label>
                <input required ng-model="atention_area.area_code" class="form-control" type="text">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>NOMBRE AREA </label>
                <input required ng-model="atention_area.area_name" class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>TIPO </label>
                <select required ng-model="atention_area.atention_type" class="form-control" type="text">
                  <option>CONSULTORIO</option>
                  <option>SALAS ESPECIALES</option>
                  <option>QUIROFANO</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label>HORA INICIO</label>
                <input required ng-model="atention_area.start_hour" class="form-control" type="text" id="timepicker3" placeholder="12:45 PM">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>HORA FINAL</label>
                <input required ng-model="atention_area.end_hour" class="form-control" type="text" id="timepicker4" placeholder="12:45 PM">
              </div>
              <div class="col-sm-6 col-md-6">
                <label>ESTADO</label>
                <select required ng-model="atention_area.state" class="form-control" type="text">
                  <option>ACTIVO</option>
                  <option>MANTENIMIENTO</option>
                  <option>INACTIVO</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12"><br/>
                <input class="btn btn-primary" type="submit" value="Enviar"> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>