<section>
  <div class="container">
    <div class="row">
      <div class="contact_form col-sm-8 col-md-8">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <h1> Marcas </h1>
          </div>
          <div class="col-sm-6 col-md-6">
              <a ng-href="#/brands/new"> <h3> Agregar Marca </h3></a>
          </div>
        </div>
      </div>
    </div>

    <table ng-table="table" class="table table-striped">
        <tr ng-repeat="brand in brands">
            <td data-title="' CÓDIGO'"> {{brand.code}} </td>
            <td data-title="' NOMBRE'"> {{brand.name}} </td>
        </tr>
    </table>
  </div>
</section>