<section>
  <div class="container">
    <div class="row">
      <div class="contact_form col-sm-14 col-md-14">
        <div class="row">
          <div class="col-sm-10 col-md-10">
            <h1> Vías de Aplicación </h1>
          </div>
          <div class="col-sm-6 col-md-6">
              <a ng-href="#/aplication_vias/new"> <h3> Agregar Vía de Aplicación </h3></a>
          </div>
        </div>
      </div>
    </div>

    <table ng-table="table" class="table table-striped">
      <tr ng-repeat="aplication_via in aplication_vias">
        <td data-title="'CÓDIGO'">{{aplication_via.code}}</td>
        <td data-title="'DESCRIPCIÓN '">{{aplication_via.description}}</td>
        <td data-title="'SEXO'">{{aplication_via.sex}}</td>
      </tr>
    </table>
  </div>
</section>